<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @animal.img %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @animal.cost %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @animal.requirements %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @animal.produce %>
</p>

<p>
  <strong>Sell price:</strong>
  <%= @animal.sell_price %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
