<%= form_with(model: farm) do |form| %>
  <% if farm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(farm.errors.count, "error") %> prohibited this farm from being saved:</h2>

      <ul>
        <% farm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :user_id %>
  <%= form.text_field :user_id %>

  
  <div class="field">
    <%= form.label :farm_name %>
    <%= form.text_field :farm_name %>
  </div>

  <div class="field">
    <%= form.label :farm_type %>
    <%= form.text_field :farm_type %>
  </div>

  <div class="field">
    <%= form.label :pet_type %>
    <%= form.text_field :pet_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
