

<p>
  <strong>Farm name:</strong>
  <%= @farm.farm_name %>
</p>

<p>
  <strong>Farm type:</strong>
  <%= @farm.farm_type %>
</p>

<p>
  <strong>Pet type:</strong>
  <%= @farm.pet_type %>
</p>

<%= link_to 'Edit', edit_farm_path(@farm) %> |
<%= link_to 'Back', farms_path %>
