<%= form_with(model: villager) do |form| %>
  <% if villager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(villager.errors.count, "error") %> prohibited this villager from being saved:</h2>

      <ul>
        <% villager.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.text_field :birthday %>
  </div>

  <div class="field">
    <%= form.label :gifts %>
    <%= form.text_field :gifts %>
  </div>

  <div class="field">
    <%= form.label :hearts %>
    <%= form.number_field :hearts %>
  </div>

  <div class="field">
    <%= form.label :heartevents %>
    <%= form.text_field :heartevents %>
  </div>

  <div class="field">
    <%= form.label :marriage %>
    <%= form.check_box :marriage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
