<p id="notice"><%= notice %></p>

<h1>Villagers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Gifts</th>
      <th>Hearts</th>
      <th>Heartevents</th>
      <th>Marriage</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @villagers.each do |villager| %>
      <tr>
        <td><%= villager.name %></td>
        <td><%= villager.birthday %></td>
        <td><%= villager.gifts %></td>
        <td><%= villager.hearts %></td>
        <td><%= villager.heartevents %></td>
        <td><%= villager.marriage %></td>
        <td><%= villager.img %></td>
        <td><%= link_to 'Show', villager %></td>
        <td><%= link_to 'Edit', edit_villager_path(villager) %></td>
        <td><%= link_to 'Destroy', villager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Villager', new_villager_path %>
