

<p>
  <strong>Name:</strong>
  <%= @villager.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @villager.birthday %>
</p>

<p>
  <strong>Gifts:</strong>
  <%= @villager.gifts %>
</p>

<p>
  <strong>Hearts:</strong>
  <%= @villager.hearts %>
</p>

<p>
  <strong>Heartevents:</strong>
  <%= @villager.heartevents %>
</p>

<p>
  <strong>Marriage:</strong>
  <%= @villager.marriage %>
</p>


<%= link_to 'Edit', edit_villager_path(@villager) %> |
<%= link_to 'Back', villagers_path %>
