
<p>
  <strong>Name:</strong>
  <%= @festival.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @festival.date %>
</p>

<p>
  <strong>Time location:</strong>
  <%= @festival.time_location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @festival.description %>
</p>

<p>
  <strong>Purchases:</strong>
  <%= @festival.purchases %>
</p>

<%= link_to 'Edit', edit_festival_path(@festival) %> |
<%= link_to 'Back', festivals_path %>
