

<h1>Stardewvalleys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Villagers </th>
      <th> Animals</th>
      <th>Buildings </th>
    <th>Crops </th>
    <th>festivals</th>
    <th> quests</th>
 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stardewvalleys.each do |stardewvalley| %>
      <tr>
        <td><%= stardewvalley.name %></td>
        
        <% stardewvalley.villagers.each do |villager|%>
          <td><%= villager.name %> <td>
          <%end%>
          <% stardewvalley.animals.each do |animal| %>
            <td><%=animal.name %> </td>
            <%end%>

            <% stardewvalley.buildings.each do |building| %>
              <td><%= building.name%>  </td>
              <%end%> 

              <% stardewvalley.crops.each do |crop| %>
                <td><%= crop.name%>  </td>
                <%end%> 

                <% stardewvalley.festivals.each do |festival| %>
                  <td><%= festival.name%>  </td>
                  <%end%> 

                  <% stardewvalley.quests.each do |quest| %>
                    <td><%=quest.name %>  </td>
                    <%end%> 

            <td></td>
            <td></td>

        <td><%= link_to 'Show', stardewvalley %></td>
        <td><%= link_to 'Edit', edit_stardewvalley_path(stardewvalley) %></td>
        <td><%= link_to 'Destroy', stardewvalley, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stardewvalley', new_stardewvalley_path %>
